# If present, allows bypassing the login screen and web socket connection to
# allow for interactive ui development
VITE_UI_DEV=1

# The api endpoint for api calls
VITE_API_ENDPOINT="https://grindshell.com/api/"
# The endpoint for web socket connections
VITE_WS_ENDPOINT="wss://grindshell.com/ws"